curie-smartnode/smartnode/lib/flows/ball-neurons20161214
[{"id":"c387240a.889148","type":"Neurons","z":"5f229c05.6151c4","name":"Neurons","funType":"1","x":782.0001525878906,"y":318.34810638427734,"wires":[["385cf756.e0c948"]]},{"id":"18151cde.4e9083","type":"interpreter","z":"5f229c05.6151c4","name":"to curie","x":87.99984741210938,"y":87.34815216064453,"wires":[]},{"id":"db7c0308.7d7c6","type":"change","z":"5f229c05.6151c4","name":"neuronStatus","rules":[{"t":"set","p":"neuronStatus","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":512.0003051757812,"y":515.3481979370117,"wires":[["c387240a.889148"]]},{"id":"d21785e4.1e6f88","type":"change","z":"5f229c05.6151c4","name":"category1","rules":[{"t":"set","p":"category","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":569.0001220703125,"y":165.34812927246094,"wires":[["c387240a.889148"]]},{"id":"389df2f8.84941e","type":"DFButton","z":"5f229c05.6151c4","name":"YellowButton","digitalPin":"2","funType":"0","x":85,"y":234.34811401367188,"wires":[["ec71137f.b0cd8","46642d67.d62e74","23fed56d.b232aa","dec6eed1.d006d","5e104b29.338c74"]]},{"id":"ec71137f.b0cd8","type":"change","z":"5f229c05.6151c4","name":"Learn","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":342.77777099609375,"y":478.34815979003906,"wires":[["db7c0308.7d7c6"]]},{"id":"46642d67.d62e74","type":"Gyro","z":"5f229c05.6151c4","name":"Gyro","interval":"100","x":338.00006103515625,"y":329.34810638427734,"wires":[["c387240a.889148"]]},{"id":"23fed56d.b232aa","type":"Accelerometer","z":"5f229c05.6151c4","name":"Accelerometer","interval":"100","x":373.00006103515625,"y":256.34814453125,"wires":[["c387240a.889148"]]},{"id":"f9a9d5d4.a25cd8","type":"DFButton","z":"5f229c05.6151c4","name":"WhiteButton","digitalPin":"4","funType":"0","x":85,"y":560.3482284545898,"wires":[["46642d67.d62e74","23fed56d.b232aa","686e6060.c90d6","abf205e0.bd6b28"]]},{"id":"722fe61.3694718","type":"DFButton","z":"5f229c05.6151c4","name":"GreenButton","digitalPin":"3","funType":"0","x":100,"y":397.34810638427734,"wires":[["23fed56d.b232aa","46642d67.d62e74","7916594f.d3eab8","ec71137f.b0cd8","5e104b29.338c74"]]},{"id":"7916594f.d3eab8","type":"switch","z":"5f229c05.6151c4","name":"Press-Release","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":346.22210693359375,"y":399.34813690185547,"wires":[["84c794c0.c711c8"],["af45417f.29ee6"]]},{"id":"af45417f.29ee6","type":"change","z":"5f229c05.6151c4","name":"category2","rules":[{"t":"set","p":"category","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":575.9999084472656,"y":404.34812927246094,"wires":[["c387240a.889148"]]},{"id":"686e6060.c90d6","type":"change","z":"5f229c05.6151c4","name":"Classify","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":349.66668701171875,"y":548.3481674194336,"wires":[["db7c0308.7d7c6"]]},{"id":"abf205e0.bd6b28","type":"change","z":"5f229c05.6151c4","name":"category_status","rules":[{"t":"set","p":"category","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":507.7776794433594,"y":626.3482894897461,"wires":[["c387240a.889148"]]},{"id":"385cf756.e0c948","type":"switch","z":"5f229c05.6151c4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":934.0000610351562,"y":318.34812927246094,"wires":[["13efa6a6.2e0609"],["5f250931.126e28"]]},{"id":"13efa6a6.2e0609","type":"change","z":"5f229c05.6151c4","name":"Cat1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1074.0003662109375,"y":314.34815979003906,"wires":[["ad83faef.dcbd68","e2b61e6.c18f6e"]]},{"id":"5f250931.126e28","type":"change","z":"5f229c05.6151c4","name":"Cat2","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1076.0000610351562,"y":405.3481750488281,"wires":[["726736b1.31da78","d2332ecc.383cd"]]},{"id":"726736b1.31da78","type":"DFLed","z":"5f229c05.6151c4","name":"ledGreenLed","digitalPin":"12","x":1596.0000915527344,"y":411.34813690185547,"wires":[]},{"id":"ad83faef.dcbd68","type":"DFLed","z":"5f229c05.6151c4","name":"LedYellowLed","digitalPin":"11","x":1600.0000915527344,"y":329.34810638427734,"wires":[]},{"id":"d2332ecc.383cd","type":"Delay","z":"5f229c05.6151c4","name":"Delay","interval":"5","x":1272.6668090820312,"y":500.0148010253906,"wires":[["f7432c03.d86e2"]]},{"id":"e2b61e6.c18f6e","type":"Delay","z":"5f229c05.6151c4","name":"Delay","interval":"5","x":1261.500244140625,"y":238.3481216430664,"wires":[["c8a44a2.172d9b8"]]},{"id":"c8a44a2.172d9b8","type":"change","z":"5f229c05.6151c4","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1407.666748046875,"y":246.4592514038086,"wires":[["ad83faef.dcbd68"]]},{"id":"f7432c03.d86e2","type":"change","z":"5f229c05.6151c4","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1414.666748046875,"y":498.4592590332031,"wires":[["726736b1.31da78"]]},{"id":"5e104b29.338c74","type":"DFLed","z":"5f229c05.6151c4","name":"Led","digitalPin":"13","x":797.88330078125,"y":49.99998474121094,"wires":[]},{"id":"84c794c0.c711c8","type":"change","z":"5f229c05.6151c4","name":"Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":474.6666564941406,"y":352.1259078979492,"wires":[["af45417f.29ee6"]]},{"id":"dec6eed1.d006d","type":"switch","z":"5f229c05.6151c4","name":"Press-Release","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":302.5555114746094,"y":125.45925903320312,"wires":[["60aae4da.68a86c"],["d21785e4.1e6f88"]]},{"id":"60aae4da.68a86c","type":"change","z":"5f229c05.6151c4","name":"Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":464.1692810058594,"y":84.16667175292969,"wires":[["d21785e4.1e6f88"]]}]